## Programming Assignment_2
-------------

### 1. Write a Python program to convert kilometers to miles?

### 2.Write a Python program to convert Celsius to Fahrenheit?

### 3. Write a Python program to display calendar?

### 4. Write a Python program to solve quadratic equation?

### 5. Write a Python program to swap two variables without temp variable?

# 1. Write a Python program to convert kilometers to miles?

In [5]:
#  1 KM  = 0.62137119 miles

kilo= float(input("Enter Kilometer "))

print('\n', kilo ," kilometer have ", kilo * 0.62137119 , "Miles")

Enter Kilometer 5

 5.0  kilometer have  3.10685595 Miles

## 2.Write a Python program to convert Celsius to Fahrenheit?

In [10]:
#  fahrenheit = celsius * 1.8 + 32

celsius = float(input("Enter temperature in celsius "))

fahr = celsius * 1.8 +32

print("Your temp in Fahrenheit is ", fahr)

Enter temperature in celsius 5
Your temp in Fahrenheit is  41.0

## 3. Write a Python program to display calendar?

In [15]:
import calendar

print(calendar.month(2022,11))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [18]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

## 4. Write a Python program to solve quadratic equation?

quadratic equation = ax2 + bx + c
where,
a, b, and c are coefficient and real numbers and also a â‰  0.
If a is equal to 0 that equation is not valid quadratic equation

take x to left hand side and fins solution
x= -b+-sqrt(b2 -4ac)/2a

In [23]:
# import complex match module

import cmath

a= int(input("Enter a value "))
b= int(input("Enter b value "))
c= int(input("Enter c value "))

temp= (b**2)- (4*a*c)

ans1= (-b-cmath.sqrt(temp))/(2*a)
ans2= (-b+cmath.sqrt(temp))/(2*a)

print("+- roots are ",  ans1  ,  ans2)

Enter a value1
Enter b value4
Enter c value2
+- roots are  (-3.414213562373095+0j) (-0.5857864376269049+0j)

## 5. Write a Python program to swap two variables without temp variable?

In [28]:
a= input("Enter a value ")
b= input("Enter b value ")

print("Result is ",a,b)

b,a= a,b

print("swap result is ",a,b)

Enter a value 4
Enter b value 9
Result is  4 9
swap result is  9 4